// Import css
@import 'font-family';
@import 'animate';
@import 'nav-bar';
@import 'home';
@import 'personal';

html, body {
  height: 100%;

  & > md-content {
    height: calc(100% - 64px);

    & > div {
      height: 100%;
    }
  }
}

body {
  @extend .font-roboto;
}