// Import css
@import 'font-family';
@import 'nav-bar';
@import 'home';

html, body {
  height: 100%;

  & > md-content {
    height: calc(100% - 64px);
    background: url('../../assets/images/bg.jpg');
    background-size: cover;
  }
}

body {
  @extend .font-roboto;
}