@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700);

.font-roboto {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.font-raleway {
  font-family: Raleway, 'Helvetica Neue', sans-serif;
}

.font-quicksand {
  font-family: Quicksand, 'Helvetica Neue', sans-serif; 
}

.font-lato {
  font-family: Lato, 'Helvetica Neue', sans-serif; 
}