.home-content {
  color: #fff;
  text-align: center;
  height: 100%;
  background: url('../../assets/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  
  .home-title {
    @extend .font-quicksand;
    font-size: 4em;
    font-weight: 400;
    padding-top: 2em;
    margin-bottom: 0.5em;
  }

  .home-description {
    @extend .font-quicksand;
    font-size: 1.5em;
    margin-bottom: 3em;
  }

  .md-button {
    min-width: 13em;
    line-height: 2.5em;
    height: 3.25em;
    font-size: 1em;
  }
}