.nav-bar {
  overflow: hidden;

  .nav-logo {
    max-height: 65%;
  }

  .nav-profile-picture {
    @include fadeAnimate(0.5s, 0.3s);
    display: block;
    height: 75%;
    transition: height 0.2s ease;
    -webkit-transition: height 0.2 ease;
    border-radius: 50%;
    vertical-align: middle;

    &:hover {
      height: 87.5%;
    }
  }
  
  .nav-profile-name {
    @extend .font-raleway;
    @include fadeAnimate(0.5s, 0.3s);
    margin-left: 0.5em;
    font-weight: 500;
    font-size: 0.85em;
  }

  .md-button {
    min-width: 6em;
    @include fadeLeftAnimate(0.3s);
  }
}